{
    "wifi_ssid": "YOUR_WIFI_SSID",
    "wifi_pass": "YOUR_WIFI_PASSWORD",
    "tz_offset": -5,
    "use_dst": true,
    "wake_weekday": "06:00",
    "sleep_weekday": "20:00",
    "wake_weekend": "08:00",
    "sleep_weekend": "21:00",
    "active_theme": "kitten",
    "brightness_auto": true
}
